.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.relat{
    position: relative;
}
.gap{
    gap: 5px;
}
.container-score{
    width: 100%;
    color: #FFF;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.level{
    position: absolute;
    bottom: 0;
    right: 0;
}
.imgChamp{
    width: 50px;
    height: 50px;
}
.imgSpell{
    width: 25px;
    height: 25px;
}
.damage{
    border-width: 1px;
    border-color: black;
}