.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.relat{
    position: relative;
}
.gap{
    gap: 5px;
}
.container-score{
    width: 100%;
    color: #FFF;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.level{
    position: absolute;
    bottom: 0;
    right: 0;
}
.imgChamp{
    width: 50px;
    height: 50px;
}
.imgSpell{
    width: 25px;
    height: 25px;
}
.imgItem{
    width: 40px;
    height: 40px;
}
.damage{
    border-width: 1px;
    border-color: black;
}

@media only screen and (min-width: 600px) {
.container-score{
    width: 400px;
    padding-right: 30%;
    padding-left: 10%;
    border-radius: 0 10px 10px 0;
}

}