.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.summoneinfo{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.relat{
    position: relative;
}
.gap{
    gap: 5px;
}
.container-score{
    width: 100%;
    color: #FFF;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.summonerinfo{
display: flex;
flex-direction: column;
}
.imgChamp{
    width: 50px;
    height: 50px;
}
.summonerspells{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
}
.imgSpell{
    width: 25px;
    height: 25px;
}
.imgItem{
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .kda{
        margin-top: 5px;
    }
    .cs{
        margin-top: 5px;
    }
}

@media only screen and (min-width: 600px) {
.container-score{
    padding:3% 10% 3% 8%;
    border-radius: 0 10px 10px 0;
}
.damageandcs{
    display: flex;
    flex-direction: row;
}
.damage{
    display: flex;
    flex-direction: column;
}

.cs{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right:30px;
    margin-left:30px;
}

}