/* DESKTOP */
@media only screen and (min-width: 600px) {
    
  }
  
  /* MOBILE */

.container-vic{
    width: 80%;
    background-color: #5383E8;
    border-radius: 10px;
    margin: 10px auto;
    flex-direction: row;
    color: #FFF;
}
.result-vic{
    color: #5383E8;
}
.flex{
    display: flex;
}

.container{
    width: 80%;
    background-color: #F12B15;
    border-radius: 10px;
    margin: 10px auto;
    flex-direction: row;
    color: #FFF;
}

.result{
    color: #F12B15;
}

.dark-container{
    background: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin-left: 5%;
    flex-direction: column;
}
.dark-container p{
    margin: 0 auto;
    padding-top: 5%;
}
.dark-container .info{
    justify-content: start-left;
}

.image{
    width: 20%;
    flex-direction: column;
    position: relative;
}

.image img{
    width: 100%;
}

.fly{
    position: absolute;
    bottom: 0;
    right: 70%;
}
  
