/* MOBILE */

.lastGame{
  width: 100%;
}

.container-vic {
  width: 80%;
  background-color: #5383e8;
  border-radius: 10px;
  margin: 10px auto;
  flex-direction: row;
  color: #fff;
}
.result-vic {
  color: #5383e8;
}
.flex {
  display: flex;
}

.container {
  width: 80%;
  background-color: #f12b15;
  border-radius: 10px;
  margin: 10px auto;
  flex-direction: row;
  color: #fff;
}

.container-champ {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.result {
  color: #f12b15;
}

.dark-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin : 0 2%;
  flex-direction: column;
}
.dark-container p {
  margin: 0 auto;
  padding-top: 5%;
}
.dark-container .info {
  justify-content: start-left;
}

.image {
  flex-direction: column;
  position: relative;
}

.image img {
  margin-right: 20px;
  width: 100%;
  height: 100%;
}

.fly {
  position: absolute;
  top: 35%;
  right: 70%;
  text-shadow: 0 0 5px #000;
}

/* DESKTOP */
@media only screen and (min-width: 600px) {
  .container {
    width: 50%;
    font-size: 25px;
  }
  .container-vic {
    width: 50%;
    font-size: 25px;
  }
  .fly {
    top: 45%;
    right: 75%;
  }
}
