.Event{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .Event{
    width: 100%;
    padding:8px;
  }
  .Event:first-child{
    border-radius: 10px 10px 0 0;
  }
  .Event:last-child{
    border-radius: 0 0 10px 10px;
  }
}

.eventpic{
  width:3rem;
  height:3rem;
}