div.HeaderContainer {
  position: relative;
  display: flex;
  background-image: url("../../images/header.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 200px;
}
div.HeaderImage {
  width: 70%;
  height: 70%;
  border-radius: 100%;
}
div.ScuttlerContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-left: 15px;
}
div.Scuttler {
  width: 70px;
  height: 70px;
  background-image: url("../../images/scuttle.png");
  background-size: cover;
  border-radius: 100%;
}
div.ScuttlerText {
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
}
h1.Title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
h1.TitleText {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
}
h2.Subtitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* DESKTOP */
@media only screen and (max-width: 1024px) {
 div.ScuttlerContainer{
  flex-direction: column;
 }
  h1.TitleText {
    display: none;
  }
  div.HeaderContainer {
    justify-content: center;
  }
}
