.teamscontainer{
    flex-direction: column;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.middleInfo{
    color: #FFF;
}
.teamsObj{
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.blueObj{
    justify-content: space-evenly;
    margin-bottom: 3%;
    width:fit-content;
    margin: 0 auto;
    flex:1.3;
}
.redObj{
    justify-content: space-evenly;
    margin-top: 3%;
    width:fit-content;
    flex:1;
}
.obj{
    align-items: center;
    gap: 2px;
    color: #FFF;
}
.statGolds{
    justify-content: space-around;
}
.goldBar{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.rGold{
    top: -22px;
    right: 10px;
}
.totGold{
    top: -22px;
    right: auto;
    left: auto;
}
.bGold{
    top: -22px;
    left: 10px;
}
.blueGolds{
    background-color: rgb(83, 131, 232, 0.5);
    height: 30px;
}
.redGolds{
    background-color: rgb(241, 43, 21, 0.5);
    height: 30px;
}

.statKills{
    justify-content: space-around;
}
.killBar{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.totKills{
    margin-bottom: 3%;
}
.rKill{
    top: -22px;
    right: 10px;
}
.totKill{
    top: -22px;
    right: auto;
    left: auto;
}
.bKill{
    top: -22px;
    left: 10px;
}
.blueKills{
    background-color: rgb(83, 131, 232, 0.5);
    height: 30px;
}
.redKills{
    background-color: rgb(241, 43, 21, 0.5);
    height: 30px;
}

.bKill, .rKill, .bGold, .rGold{
    list-style-type:none;
    text-align: center;
}

.bNashImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-baron.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.bDragImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-dragon.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.bTowerImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-tower.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.rNashImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-baron-r.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.rDragImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-dragon-r.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.rTowerImg{
    background-image: url(https://s-lol-web.op.gg/images/icon/icon-tower-r.svg?v=1664158120569);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 600px) {
    .teams{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 4%;
    }
    .blueTeam{
        border-right: 3px solid black;
    }
    }
    
    @media only screen and (max-width: 600px) {
    .redTeam{
        margin-top: 10px;
    }
    }