div.FooterContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: red;
  margin-top: 10px;
}
div.FooterContent{
  display: flex;
  align-items: center;
}
p.FooterText{
  font-size: 14px;
  color: white;
  text-align: center;
}

/* DESKTOP */
@media only screen and (min-width: 600px) {

}