body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

img.teemo{
  display: flex;
  margin: 0 auto;
}

p.hello, p.welcome{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
